.burger {
  @extend %btn-reset;
  @extend %flex-center;
  padding: 12px;
  background-color: var(--primary);
  width: 100%;
  max-width: 100px;
  height: auto;
  aspect-ratio: 1/1;
  position: relative;
  margin-right: calc(clamp(15px, 2.6vw, 60px) * -1);
  display: none;

  @include container-down('header', $tablet-width) {
    max-width: 85px;
  }

  @include container-down('header', $mobile-width) {
    max-width: 75px;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 100px;
    content: '';
    background-color: var(--primary);
    width: 50dvw;
    height: 100%;
  }

  img {
    width: 40px;
    height: auto;
    object-fit: contain;
  }
}
