extends ../../../layouts/sections/base-section/base-section

block variables
  -
    sectionTitle = ""
    sectionDesc = ""
    sectionCls = ""
    sectionID = ""

block content
  include ../../../components/item-preview/item-preview

  +item-preview(
    {
      rows: [
        {
          img: {
            name: 'item-preview-2',
            w: 720,
            h: 520,
            alt: 'Двери',
          },
          title: 'Если есть PENALBOX, увеличиваешь свое пространство',
          text: 'Дверь, убирающаяся в стену, это не просто скользящая дверь. После тщательных проработок и многочисленных изменений, удалось создать целую систему, которая может быть использована от минимальных проемов (60 см) до максимальных (6 х 3 м). Это означает, что система может быть установлена даже в помещении шириной всего 102 см и разделит или объединит его в случае необходимости.'
        },
        {
          img: {
            name: 'item-preview-2-schema',
            w: 560,
            h: 240,
            alt: 'План квартиры',
          },
          title: 'Преимущества',
          list: [
            '- Больше возможностей использования пространства',
            '- Полное использование площади',
            '- Широкие возможности обустройства небольших помещений'
          ]
        }
      ]
    }
  )

