extends ../../../layouts/sections/base-section/base-section

block variables
  -
    sectionTitle = "Кассеты для раздвижных межкомнатных дверей в стену PENALBOX"
    sectionDesc = "Позволяют решить основные проблемы современных помещений, это нехватка места и рациональное использование пространства."

block content
  include ../../../components/item-preview/item-preview

  +item-preview(
    {
      rows: [
        {
          img: {
            name: 'item-preview-1',
            w: 720,
            h: 520,
            alt: 'Двери',
          },
          title: 'Кассеты для раздвижных дверей в стену PENALBOX',
          subtitle: 'Увеличьте свободное пространство с пеналами для дверей в стену PENALBOX',
          text: 'Распашные двери относятся к традиционно окружающим нас вещам, но место, которое они занимают, создает очевидные ограничения: уменьшение свободного пространства, недостаточная инсоляция помещений, «мертвые» пространства. Все эти ограничения требуют альтернативных решений. Эволюция требует исчезновения дверей, и теперь мы можем убрать их в стену.'
        },
        {
          img: {
            name: 'item-preview-1-schema',
            w: 560,
            h: 240,
            alt: 'План квартиры',
          },
          title: 'Ограничения обычных межкомнатных дверей',
          list: [
            '- Меньше возможностей использования пространства',
            '- Частичное использование площади',
            '- Меньше возможности обустроить небольшие помещения'
          ]
        }
      ]
    }
  )

