.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  min-height: 100px;
  background-color: var(--white);

  container: header / inline-size;

  z-index: 10;

  .main-logo {
    margin-right: auto;
    width: 45dvw;
    max-width: 200px;
    padding: 10px 0;
  }

  &__container {
    @extend %flex-align;

    gap: calc(var(--space-l) * 2);
  }

  @include media-down(1200px) {
    min-height: initial;
    .main-nav {
      display: none;
    }

    .burger {
      display: flex;
    }

    .main-logo {
      max-width: 150px;
    }
  }

  @include media-down(640px) {
    .social {
      display: none;
    }
  }
}
