include ../../ui-components/social/social

header.header
  .container.header__container
    include ../../ui-components/logos/main-logo/main-logo
    include ../../ui-components/navs/main-nav/main-nav

    +social([
      {
        icon: 'icon_whatsapp',
        iconW: 60,
        iconH: 60,
        alt: 'whatsapp'
      },
      {
        icon: 'icon_tg',
        iconW: 48,
        iconH: 48,
        alt: 'telegram'
      },
      {
        icon: 'icon_phone',
        iconW: 48,
        iconH: 48,
        alt: 'telegram'
      },
    ])

