section.contacts
  .container
    .contacts__grid
      .contacts__grid-item.bg-secondary
        include ../../ui-components/content-elems/contact-block/contact-block
      .contacts__grid-item.bg-primary
        include ../../ui-components/forms/ask-form/ask-form
