.breadcrumbs {
  @extend %flex-align;

  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0 var(--space-l);
  width: fit-content;
  color: #a8a8a8;

  &__item {
    &:not(:last-child) {
      position: relative;
      padding-right: 16px;

      &::after {
        position: absolute;
        top: calc(50% - 2px);
        right: 6px;
        transform: translateY(-50%);
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #a8a8a8;
      }
    }

    &:last-child span {
      text-transform: uppercase;
    }
  }

  @include container-down('main', $tablet-width) {
    display: none;
  }
}
