.breadcrumbs
  .breadcrumbs__item
    a(href="index.html")
      span Главная
  .breadcrumbs__item
    a(href="inner-main.html")
      span Пеналы
  .breadcrumbs__item
    span Пеналы для одной двери
