$border: 1px solid transparent;
$border-radius: 4px;
$background-color: var(--primary);
$color: var(--white);
$font-family: var(--secondary-font);
$font-size: 18px;
$font-weight: 500;
$padding: 12px 20px 10px;
$box-shadow: none;
$gap: var(--space-xs);

.main-btn {
  @extend %btn-reset;
  @extend %flex-center;

  width: fit-content;
  min-width: 50px;
  min-height: 44px;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  padding: $padding;
  border-radius: $border-radius;
  color: $color;
  background-color: $background-color;
  box-shadow: $box-shadow;
  gap: $gap;
}
