.tabs {
  &__header {
    @extend %flex-align;

    justify-content: center;
    gap: var(--space-l);
    margin-bottom: var(--space-l);

    @include container-down('main', $tablet-width) {
      flex-direction: column;
      gap: var(--space-xs);
    }

    &-item {
      @extend %btn-reset;
      @extend %flex-center;

      padding: var(--space-xs) var(--space-s);
      text-transform: uppercase;
      font-weight: var(--fw-b);
      color: #d8d8d8;

      &.active {
        color: var(--base-text-color);
      }
    }
  }

  &__content {
    &-item {
      display: none;
      opacity: 0;

      &.active {
        display: block;
        animation: fadeIn 0.6s linear forwards;
      }
    }
  }
}
