.catalog-section {
  padding-bottom: calc(var(--space-l) * 2) 0;
  margin-bottom: clamp(calc(var(--space-l) * 2), 4vw, calc(var(--space-l) * 3));

  &__list {
    @extend %list-reset;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-xxxl) var(--space-l);

    @include container-down('main', $desktop-width) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include container-down('main', $tablet-width) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include container-down('main', $mobile-width) {
      grid-template-columns: 1fr;
    }
  }

  &__detail-text {
    position: relative;
    padding: clamp(30px, 3.2vw, 60px) 8px;
    margin-top: clamp(30px, 3.2vw, 60px);

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 20vw;
      max-width: 140px;
      height: 4px;
      content: '';
      background-color: var(--primary);
    }
  }
}
