include ../../../components/social/social

.contact-block
  span.contact-block__title Контактная информация

  .contact-block__item
    a(href="tel:+79251389181")
      svg(width="23" height="23")
        use(xlink:href="./assets/svg-sprite.svg#icon-phone")
      | +7 925 138 91 81
  .contact-block__item
    a(href="mailto:info@penalbox.msk.ru")
      svg(width="23" height="16")
        use(xlink:href="./assets/svg-sprite.svg#icon-mail")
      | info@penalbox.msk.ru
  .contact-block__item
    img(src="./assets/images/icon-map-pin.svg" alt="Адрес" width="23" height="23")
    address 127410, г. Москва, ул. Стандартная д. 6

  +social([
      {
        icon: 'icon_whatsapp',
        iconW: 60,
        iconH: 60,
        alt: 'whatsapp'
      },
      {
        icon: 'icon_tg',
        iconW: 48,
        iconH: 48,
        alt: 'telegram'
      },
  ])
