.content-block {
  * {
    margin: 0;
  }

  @extend %flex-column;

  gap: 24px;

  ul {
    padding-left: 16px;

    li {
      padding: 2px 0;

      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
  }

  img {
    object-fit: contain;
    object-position: left;
    max-height: 60vh;
    max-height: 60dvh;
  }

  .table-wrapper {
    overflow: hidden;
    width: 100%;
    max-width: fit-content;
    overflow-x: auto;
    margin: var(--main-offset) 0;

    &::-webkit-scrollbar {
      background-color: var(--light);
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primary);
      border-radius: 4px;
    }

    table {
      border-collapse: collapse;
      width: fit-content;
      min-width: 440px;
      margin-bottom: 5px;
      overflow: hidden;
      border-collapse: collapse;
      border-spacing: 0;

      thead td,
      thead th {
        font-weight: 600;
        text-align: center;
        background-color: var(--primary);
        color: var(--white);
      }

      td {
        padding: 10px 12px 6px;
        border: 1px solid #d8d8d8;
      }

      &.outlined {
        td {
          border-color: transparent;
        }
      }
    }
  }
}

.content-section {
  .content-block {
    margin-bottom: 40px;
  }
}
