.content-block
  h1 Заголовок H1
  h2 Заголовок H2
  h3 Заголовок H3
  h4 Заголовок H4
  h5 Заголовок H5
  h6 Заголовок H6

  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia necessitatibus obcaecati reprehenderit ad illum quaerat, ea inventore dolore deserunt perferendis, fuga fugit eligendi aspernatur iure dolor eaque ipsam veritatis dignissimos.

  blockquote
    span Lorem ipsum, dolor sit amet consectetur adipisicing elit.

  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam modi velit dignissimos mollitia itaque accusantium atque consequuntur facere, commodi fugiat possimus facilis. Quod odio vitae doloribus cum minima accusantium expedita?

  ul
    li Элемент списка
    li Элемент списка
    li Элемент списка
    li Элемент списка
    li Элемент списка

  table
    tr
      td ячейча таблицы
      td ячейча таблицы
    tr
      td ячейча таблицы
      td ячейча таблицы

  table.outlined
    tr
      td ячейча таблицы без рамок
      td ячейча таблицы без рамок
    tr
      td ячейча таблицы без рамок
      td ячейча таблицы без рамок
