.gallery
  .gallery__grid
    .gallery__grid-item
      .gallery__grid-item-header
        img(src="./assets/images/gallery-image-1.png" alt="Название товара" width="335" height="276")
      .gallery__grid-item-content
        span Название товара
    .gallery__grid-item
      .gallery__grid-item-header
        img(src="./assets/images/gallery-image-1.png" alt="Название товара" width="335" height="276")
      .gallery__grid-item-content
        span Название товара
    .gallery__grid-item
      .gallery__grid-item-header
        img(src="./assets/images/gallery-image-1.png" alt="Название товара" width="335" height="276")
      .gallery__grid-item-content
        span Название товара
    .gallery__grid-item
      .gallery__grid-item-header
        img(src="./assets/images/gallery-image-1.png" alt="Название товара" width="335" height="276")
      .gallery__grid-item-content
        span Название товара
    .gallery__grid-item
      .gallery__grid-item-header
        img(src="./assets/images/gallery-image-1.png" alt="Название товара" width="335" height="276")
      .gallery__grid-item-content
        span Название товара
