:root {
  --primary: #f18822;
  --secondary: #454545;

  --success: #28a745;
  --warning: #ffc107;
  --danger: #dc3545;

  --info: #4b5e7f;
  --muted: #a8a8a8;
  --dark: #161414;

  // --light: #6c757d;
  --white: #fff;
  --black: #000;

  --site-bg-color: var(--white);
  --site-text-color: var(--secondary);
}
