block variables
  - sectionTitle = '';
  - sectionDesc = '';
  - sectionCls = '';
  - sectionID = '';
  - breadcrumbs = false;

section.section.base-section(class= sectionCls id= sectionID)
  .container
    if breadcrumbs
      include ../../../components/breadcrumbs/breadcrumbs
    if sectionTitle || sectionDesc
      .base-section__header
        h2.base-title= sectionTitle
        p.base-subtitle= sectionDesc
    .base-section__content
      block content
