extends ../../../layouts/sections/base-section/base-section

block variables
  -
    sectionTitle = "Наша продукция"
    sectionDesc = "Эволюция требует исчезновения дверей, и теперь мы можем убрать их в стену."

block content
  h2 about
