extends layouts/main-layout.pug

block variables
  -
    const title = "penalbox"
    const description = "penalbox"
    const keywords = "penalbox"
    //- Дополнительные файлы стили для КОНКРЕТНОЙ страницы
    //- const styleFileNames = ['inner']

block content
  include ./sections/index-page/hero/hero
  include ./sections/index-page/about/about
  include ./sections/index-page/item-preview/item-preview-1
  include ./sections/index-page/features/features
  include ./sections/index-page/item-preview/item-preview-2

block modals
  //- Модальные окна используемые ТОЛЬКО на этой странице
  //-
