.nfp {
  padding: calc(var(--space-l) * 2) 0;
  background-image: url("../assets/images/404-page-bg.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  &__container {
    @extend %flex-column;
    gap: clamp(20px, 3vw, 40px);
    max-width: 580px;
    margin: 0 auto;
  }

  .base-title,
  .base-text {
    text-align: center;
    margin-bottom: 0;
  }

  .base-text {
    a {
      color: var(--primary);
    }
  }

  .main-btn {
    width: 100%;
    max-width: 460px;
    margin: 0 auto;

    img {
      width: 18px;
      height: 12px;
      object-fit: contain;
    }
  }
}
