.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 199;
  backdrop-filter: blur(3px);
  background-color: rgb(0 0 0 / 60%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90dvw;
  height: fit-content;
  max-width: 640px;
  max-height: 85dvh;
  overflow: hidden;
  overflow-y: auto;

  &-content {
    background-color: var(--primary);
    padding: clamp(var(--gap-s), 3vw, var(--gap-xl));
    border-radius: 4px;
    border: 1px solid var(--primary);
    padding: clamp(60px, 5vw, 80px) clamp(20px, 3vw, 40px);

    &:has(.callback-form) {
      padding: 20px;
    }

    @extend %flex-column;

    .modal-title {
      font-size: clamp(var(--fs-m), 4vw, var(--fs-xl) / 1.1);
      font-weight: var(--fw-b);
      text-transform: uppercase;
      text-align: center;
      color: var(--white);
      margin-bottom: 30px;
    }

    .modal-text {
      font-size: clamp(var(--fs-s), 3vw, var(--fs-m) / 1.1);
      text-align: center;
      color: var(--white);
    }
  }

  &-closer {
    position: absolute;
    top: 10px;
    right: 10px;

    @extend %btn-reset;
    @extend %flex-center;

    width: fit-content;
    height: fit-content;
    padding: 8px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid transparent;
    z-index: 11;

    svg {
      width: 20px;
      height: 20px;
      fill: var(--white);
    }

    @media (hover: hover) {
      &:hover {
        opacity: 1;
      }
    }

    &:focus {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }
  }

  &-title {
    display: inline-block;
    font-size: var(--fs-sm);
    font-weight: var(--fw-l);
    width: 100%;
    padding-right: 20px;
    color: var(--white);
    margin-bottom: var(--gap-l);
    text-wrap: initial;
  }

  &-text {
    font-size: 14px;
  }
}
