extends ../layouts/modals/main-modal

block variables
  - modalId = "success-modal"
  - modalClasses = "success-modal"

block modalContent
  span.modal-title Спасибо! <br>Ваша заявка отправлена
  span.modal-text Мы свяжемся в вами в ближайшее время!
