%base-section-list {
  @extend %list-reset;
  @extend %flex-column;

  gap: var(--gap-xl);
  margin-top: calc(-1 * var(--gap-m));
}

%shaker {
  animation: shaker 0.5s ease-in-out;
}

%title-underline {
  position: relative;
  margin-bottom: clamp(34px, 3.5vw, 44px);

  &::after {
    position: absolute;
    bottom: calc(var(--space-m) * -1);
    left: 50%;
    transform: translateX(-50%);
    content: '';
    background-color: var(--primary);
    width: 25vw;
    max-width: 160px;
    height: 7px;
  }
}
