extends ../../../layouts/sections/base-section/base-section

block variables
  -
    sectionTitle = "БЕЗУСЛОВНЫЕ ПРЕИМУЩЕСТВА PENALBOX"
    sectionDesc = "Ощутите новый уровень комфорта с пеналами для раздвижных дверей в стену и получите больше свободного пространства"
    sectionCls = "bg-light"
block content
  include ../../../ui-components/lists/feature-list/feature-list

  .features
    +feature-list(
      [
        {
          icon: {
            name: 'icon-feature-1.svg',
            w: 60,
            h: 60,
            alt: 'Иконка'
          },

          text: 'Совместим с любыми дверьми. Разработан для обрамления как классическим, так и телескопическим наличником.'
        },
        {
          icon: {
            name: 'icon-feature-2.svg',
            w: 60,
            h: 60,
            alt: 'Иконка'
          },

          text: 'Это сборная конструкция. Она позволяет установить двери так, что бы они сдвигались внутрь стены.'
        },
        {
          icon: {
            name: 'icon-feature-3.svg',
            w: 60,
            h: 60,
            alt: 'Иконка'
          },

          text: 'Имеет съемный рельс, что позволяет заменить стопор, доводчик, ролики и даже саму дверь без разбора стены.'
        },
        {
          icon: {
            name: 'icon-feature-4.svg',
            w: 60,
            h: 60,
            alt: 'Иконка'
          },

          text: 'Выполнен из оцинкованной стали, что гарантирует защиту от коррозии.'
        },
        {
          icon: {
            name: 'icon-feature-5.svg',
            w: 60,
            h: 60,
            alt: 'Иконка'
          },

          text: 'На стену penalbox можно установить выключатель, розетку, повесить картину или полку.'
        },
        {
          icon: {
            name: 'icon-feature-6.svg',
            w: 60,
            h: 60,
            alt: 'Иконка'
          },

          text: 'Установленный penalbox служит основой для крепления гипсокартона, дополнительных направляющих для которого не требуется.'
        }
      ]
    )
