.footer {
  padding: var(--space-xxl) 0;
  background-color: #4b5e7f;
  font-size: 16px;
  container: footer / inline-size;

  &__row {
    display: grid;
    grid-template-columns: 340px auto 340px;
    gap: var(--space-s) var(--space-xxl);
    margin-bottom: var(--space-l);

    @include container-down('footer', 1200px) {
      grid-template-columns: 1fr;
    }

    @include container-down('footer', 1200px) {
      &:not(:last-child) {
        .footer__row-field {
          margin-bottom: 30px;
        }
      }
    }

    &-field {
      @extend %flex-column;

      gap: var(--space-l);
      color: var(--white);

      &-title {
        font-weight: var(--fw-b);
        text-transform: uppercase;
        margin-bottom: var(--space-l);

        @include container-down('footer', 1200px) {
          margin-bottom: 0;
        }
      }

      a {
        @extend %base-hover;
        color: var(--white);
      }

      &:has(.footer-contacts),
      &:has(.footer-nav) {
        margin-top: var(--space-l);

        @include container-down('footer', 1200px) {
          margin-top: 0;
        }
      }
    }

    &:last-child {
      .footer__row-field {
        justify-content: center;
      }
    }
  }
}

.footer-contacts {
  @extend %flex-column;

  gap: var(--space-l);

  &__item {
    @extend %flex-align;

    gap: var(--space-s);

    img {
      width: 23px;
      height: auto;
      object-fit: contain;
    }

    a,
    address {
      padding-top: 5px;
    }
  }
}

.footer-nav {
  &__list {
    @extend %list-reset;
    @extend %flex-column;

    gap: var(--space-l);

    a {
      color: var(--white);
    }
  }
}

.developer-link {
  @extend %flex-align;

  gap: var(--space-xs);

  img {
    width: 150px;
    height: auto;
    object-fit: contain;
  }
}
