.main-input {
  label {
    @extend %flex-column;

    gap: var(--space-xs);
    font-size: 18px;
    color: var(--white);
  }

  input {
    @extend %flex-align;

    font-family: var(--secondary-font);
    font-size: 14px;
    line-height: 1;
    padding: var(--space-xs) var(--space-s);
    border-radius: 4px;
    border: 1px solid #f0f0f0;
    min-height: 44px;

    &::placeholder {
      font-family: var(--secondary-font);
      font-size: 14px;
      line-height: 1;
      color: var(--muted);
    }
  }
}
