mixin main-input(data)
  .main-input(class= data.cls ? data.cls : null)
    label
      span!= data.label
        if data.required
          | *
      input(type= data.type ? data.type : 'text' name= data.name placeholder= data.placeholder ? data.placeholder : null)
