nav.main-nav
  ul.main-nav__list
    li.main-nav__list-item
      a(href="#") Пеналы
    li.main-nav__list-item
      a(href="#") Монтаж
    li.main-nav__list-item
      a(href="#") Сотрудничество
    li.main-nav__list-item
      a(href="#") Контакты
