h1,
h2,
h3,
h4,
h5,
h6,
.base-title {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: var(--fw-b);
}

p {
  margin-top: 0;
  margin-bottom: 0.75em;
  font-weight: var(--fw-r);
}

h1 {
  font-size: calc(var(--fs-xl) * 1.5);
}

h2 {
  font-size: calc(var(--fs-m) * 2);
}

h3 {
  font-size: calc(var(--fs-m) * 1.5);
}

h4 {
  font-size: var(--fs-l);
}

h5 {
  font-size: var(--fs-m);
}

h6 {
  font-size: var(--fs-m);
}

.main-title {
  font-weight: var(--fw-b);
  font-size: clamp(var(--fs-m), 3.6vw, calc(var(--fs-l) * 2));
  margin-bottom: 0.5em;
}

.base-title {
  display: block;
  font-size: clamp(var(--fs-m), 4vw, calc(var(--fs-m) * 2));
  font-weight: var(--fw-b);
  color: var(--secondary);
}

.base-subtitle {
  display: block;
  font-size: clamp(calc(var(--fs-s) * 1.1), 2vw, calc(var(--fs-m) / 1.1));
  color: var(--base-text-color);
}

.base-text {
  display: block;
  font-size: clamp(var(--fs-s), 2.4vw, calc(var(--fs-s) * 1.15));
  color: var(--base-text-color);
}

.text-italic {
  font-style: italic;
}

.text-underlined {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.ff {
  &-primary {
    font-family: var(--primary-font);
  }

  &-secondary {
    font-family: var(--secondary-font);
  }

  &-accent {
    font-family: var(--accent-font);
  }
}

.fs {
  &-xs {
    font-size: var(--fs-xs);
  }

  &-s {
    font-size: var(--fs-s);
  }

  &-m {
    font-size: var(--fs-m);
  }

  &-l {
    font-size: var(--fs-l);
  }

  &-xl {
    font-size: var(--fs-xl);
  }
}

.fw {
  &-h {
    font-weight: var(--fw-h);
  }

  &-xb {
    font-weight: var(--fw-xb);
  }

  &-b {
    font-weight: var(--fw-b);
  }

  &-sb {
    font-weight: var(--fw-sb);
  }

  &-m {
    font-weight: var(--fw-m);
  }

  &-r {
    font-weight: var(--fw-r);
  }

  &-l {
    font-weight: var(--fw-l);
  }

  &-xl {
    font-weight: var(--fw-xl);
  }

  &-t {
    font-weight: var(--fw-t);
  }
}
